# Python Crash Course

We are going to see the below parts of the Python :
1. Basic Data Type
2. Arithmetic Operations
3. Variables
4. Numeric Data Types
5. String Data Types
6. Booleans - With comparision & Logical operators
7. Methods
8. List
9. Slicing
10. Membership Operators
11. Mutability I
12. Mutability II
13. Common Function & Methods
14. Tuples
15. Sets
16. Dictionaries
17. Compounded Data Structures

#### Hello World Program
This is the place where you will try to have some hands on with Jupyter note book and python

In [ ]:
# Below is written "Hello world", now press shift+enter
# On left side you will see "Out[x]" where x is an integer.
# The moment you are actually not 'Prining' the value you will see it.
# This is just to familier you with the Jupyter env with python.

# When you download this as python file '*.py' , this "Hello World"
# will not be printed.
"Hello World"

In [ ]:
# Basic Python code starts from below
# Press Shift+Enter to run this cell, now you will not observe 
# "Out[x]" where x is an integer as you want something to print.
# 
print("Hello World")

## 1. Data Type
A data type or simply type is an attribute of data which tells the compiler or interpreter how the programmer intends to use the data.

* **Integer**
    - 2, -3, 0 etc
* **Float**
    - 2.3, 3.8, 0.1 etc    
* **String**
    - "Python", "MBRDI"
    
Try it yourself !

In [ ]:
# Lets print the type here
# 'type()' is a function which tell what is the type !
print("Type of data used :: ")
print(type(2))
print(type(2.2))
print(type("MBRDI"))

## 2. Arithmetic Operations
Arithmetic Operations are the basic opration that we learnt in Maths.
* Addition : +
* Substraction : -
* Division {Integer Division | Float Division} : // | /
* Modulus : %

In [ ]:
# Addition without variable
2 + 2

In [ ]:
5 - 2

In [ ]:
# Integer Division : Result will be integer
# (Round off to low nearest value)
# This results output of the int type
# this results in quotient
5 // 2

In [ ]:
# Float Division : This results output of the float type
# this results in quotient
5 / 2

In [ ]:
# Modulus will give you remainder of division
5 % 2

In [ ]:
7 * 7

In [ ]:
# Python follows order of operation 
# PEMDAS is a acronym for Parenthesis, Exponents, Multiplication, Division, Addition, and Subtraction
(6 + 3 * 9 + 3)

In [ ]:
((6 + 3) * (9 + 3))

In [ ]:
# Exponents
# '^' is not used for exponents, '^' represent bit wise operations
# its '**' (Double asterisks)
9**2

In [ ]:
6**2

## 3. Variables
**mathematics**
    - a quantity which during a calculation is assumed to vary or be capable of varying in value.
**computing**
    - a data item that may take on more than one value during the runtime of a program.
    
We have seen the basic data types and arithmetic operations.
Now how are you going to use them ??
Will you keep writing your code using these values ??

In Maths, many times you would have heard 

_'Lets assume the value be x'_

Also it could be defined as Label, that could be used to hold a Value.
Variables hold value in memory that could be retrive many times.

In [ ]:
# Need not to tell what data type it is.
a = 2
b = 2.2
c = "MBRDI"

# Now print and see them
print(" a :: ", a)
print(" b :: ", b)
print(" c :: ", c)

# Check here the type of the variable/token
print("Type of data used :: ")
print(type(a))
print(type(b))
print(type(c))

In [ ]:
# Need not to tell what data type it is. 
# Also you can change the data that variable holds
a = "This value is changed to string" 
b = 2
c = 9658.265

# Now print and see them
print(" a :: ", a)
print(" b :: ", b)
print(" c :: ", c)

# Check here the type of the variable/token
print("Type of data used :: ")
print(type(a))
print(type(b))
print(type(c))

### Rules : Variable Names
- A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

**As a good practice, always use snake_case , variable should be meaning full name**
There are few reserved keywords that cannot be used as variables like 'return', 'import' etc

In [ ]:
# Storing data in one go 
x, y ,z = "This is x" , 3 , 7.8
    
print(x)
print(y)
print(z)

In [ ]:
x = y = z  = "All are same"
print(x)
print(y)
print(z)

#### Some wrong way of initialization
See the way how these are initialize. Is it fine to have it in this way ?
 Try It Yourself!!

In [ ]:
6x = 0

In [ ]:
e@e = "Hi"

In [ ]:
uiuo-uuo = 907.34

#### Some Arithmatic operations

In [ ]:
age = 25
# After 5 years age would be
age = age + 5
print(age)

In [ ]:
# Now as age is 30 due to previous execution of cell lets try subtracting age by 10
age -= 10
print(age)

The output above you have seen is very true, but its new way of writing. Its called short hands and you will find that its used at many places in future. Few short hands are below :

* age = age + 7,   could also be written as 
* age += 7 ,and both are same

In [ ]:
age = 5
age += 10
print(age)

In [ ]:
age = 10
age -= 3
print(age)

In [ ]:
age = 9
age /= 2
print(age)

In [ ]:
age = 7
age //= 2
print(age)

In [ ]:
age = 6
age **= 2
print(age)

## 4. Numeric Data Types
* int : to store the integer data types
* float : to store float data type (values with decimal)

In [ ]:
x = 9
y = 4
z = x/y
print(z)

In [ ]:
a = 5.7
z = int(a)
print(z)

In [ ]:
a = 5
z = float(a)
print(z)

## 5. String Data Types
Often time we have to work with 'texts' that are known as strings in Python
We can define strings as series of character, enclosed by single or double quotes.

In [ ]:
name = "Mercedes"
print(name)
print(type(name))

In [ ]:
Dia = "Benz said "Hey Mercedes !" ""
print(Dia)
print(type(Dia))

In [ ]:
Dia = 'Benz said, "Hey Mercedes !" '
print(Dia)
print(type(Dia))

In [ ]:
Dia = 'Benz said, "Hey Mercedes !" you're best '
print(Dia)
print(type(Dia))

In [ ]:
Dia = 'Benz said, "Hey Mercedes !" you\'re best '
print(Dia)
print(type(Dia))

#### Adding two stings or say concatenating

In [ ]:
sentance_one = 'Benz said,'
sentance_two = ' "Hey Mercedes !" you\'re best'
main_sentance = sentance_one + sentance_two
print(main_sentance)

### Multiplying string 
It means to repeat the string multiple times

In [ ]:
sentance_one = "The Best Or Nothing " 
long_sentance = sentance_one * 30
print(long_sentance)

Now what if you have to calculate the no of characters in the **long_sentance**.
How will you do it ??

In [ ]:
len_long_sentance = len(long_sentance) # len() returns length of object
print(len_long_sentance)

 ## 6. Booleans : With comparision & Logical operators
 It has two values 'True' or 'False'
 
 No need to hard code anything with true or false

In [ ]:
comp = 1 > 2
print(comp)

In [ ]:
comp = 1 < 2
print(comp)

In [ ]:
comp = 1 < 2 or 3 > 2
print(comp)

In [ ]:
comp = 1 < 2 or 3 < 2
print(comp)

In [ ]:
comp = 1 < 2 and 3 > 2
print(comp)

In [ ]:
comp = 1 < 2 and 3 < 2
print(comp)

In [ ]:
comp = not 1 < 2
print(comp)

In [ ]:
comp = 1 == 2 
print(comp)

In [ ]:
comp = 2 == 2 
print(comp)

In [ ]:
working_at_mercedes = True
has_id = True
coming_to_office = working_at_mercedes and has_id 
print(coming_to_office)

## 7. Methods
We have seen various functions like, len, type, print. These may or may not need argument/arguments.

Function needs object as arguments. - Will see this later.

Every data type has different methods. Lets try out with string - its interesting with stings :)

method is accessed with 'dot' notation

In [ ]:
movie = "once upon a TIME in mumbai"

In [ ]:
movie.upper()
print(movie)

In [ ]:
print(movie.upper())

In [ ]:
print(movie.capitalize())

In [ ]:
print(movie.lower())

In [ ]:
print(movie.split(' '))

In [ ]:
print(movie.count('a'))

Every data types has its own  methods.

## 8. List

Basic data structure in the python is sequence. Sequence is composed of elements.
Each Element has index that indicates its position.
```
[element_1, element_2, element_3 ]
[   0    ,    1     ,     2     ] 
```

List are always written in SQUARE BRACKETS

In [ ]:
name = ['Mercedes','BMW','Audi']

In [ ]:
print(name[0])
print(name[1])
print(name[2])

In [ ]:
# Try accessing something that is out of Range
print(name[200])

In [ ]:
# List need NOT to contain the same data type
diff_data = ['Mercedes','BMW','Audi', 20.2, 87, True, False]

In [ ]:
# Length of list
length = len(diff_data)
print(length)

In [ ]:
print(diff_data[length])

In [ ]:
print(diff_data[length-1])

In [ ]:
print(diff_data[-1])

In [ ]:
print(diff_data[-3])

## 9. Slicing
We can access more than one element from a list by slicing.
It need indices which specifies a range : START and STOP

For example, take both indices as below :
START = 1
STOP = 6

list_experiment = [0,1,2,3,4,5,6,7]

Here count from 0 (START indices) till ... STOP is 6, means counting from 0 and on 6th count we will reach to 5.

This means STOP indices is EXCLUSIVE.

Lets check it out.

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7 ,8 ,9 ,10]
print(numbers)

In [ ]:
# Lets take out element from 2 to 9 
print(numbers[2:10])

In [ ]:
# Lets take out element from 0 to 9 
print("Method 1 :: ", numbers[0:10])

# Observe here, there is on starting index
print("Method 2 :: ", numbers[:10])

In [ ]:
# everything form 2 to 10
print("Method 1 :: ", numbers[2:11]) 

print("Method 2 :: ", numbers[2:len(numbers)])

# Everything till last index if last index is not given
print("Method 3 :: ", numbers[2:])

In [ ]:
# Entire list in the Slicing way
# but when you want to have complete list, you do not need to slice it

print(numbers[:])

#### Creating list of numbers in more concise way

In [ ]:
# STOP index/num is EXCLUSIVE
# Printing the list from range 0 -9

print(list(range(0,10)))

In [ ]:
# Printing the list from range 0 -99
# Hardcoding them would have taken to much of time
# here range saves us :)

print(list(range(0,100)))

In [ ]:
# Printing the list from range 0 -9
# If start index in range function is not defined, python assume
# start index as 0

print(list(range(100)))

In [ ]:
# There one more important argument in range function, the third argument
# in fn is STEP SIZE 
# Note : Ensure to add START index when using STEP SIZE
# Here starting from Zero step size of 5 is taken int account, 
# it means that it will include every fifthe no in sequence

print(list(range(0,100,5)))

In [ ]:
print(list(range(0,100,3)))

#### Slicing of String

In [ ]:
# You can SLICE string in the same way as of LIST
office_name = "Mercedes-Benz Research and Development India"
length = len(office_name)

print("1 - ", office_name[:])
print("2 - ", office_name[5:])
print("3 - ", office_name[:length])
print("4 - ", office_name[:-1])

## 10. Membership Operators
Strings and list are 'like' similar kind of data type

* 'in'
* 'not in'

These results in _True_ or _False_

In [ ]:
weeks = ['Mon', 'Tue' , 'Wed']

# Evaluation for 'in'
print('1. ', 'Sat' in weeks)
print('2. ', 'Tue' in weeks)

In [ ]:
# Evaluation for 'in'
print('1. ', 'Sat' not in weeks)
print('2. ', 'Tue' not in weeks)

## 11. Mutability I

Mutable   : Liable to change.

Immutable : Not Liable to change

Whether are not we can CHANGE somthing once its been CREATED !

* If object CAN be change then its MUTABLE
* If object CANNOT be change then its IMMUTABLE.

LIST and STRING is very similar data types in the sence that they share similar methods. But they are distinct in many way - one difference is Mutability.

**LIST - Mutable ordered sequence of elements**

**STRING- Immutable ordered sequence of elements**

In [ ]:
items = ["pencil" , "book", "bag"]

In [ ]:
# Changing book to "notebook"
items[1] = "notebook"
print(items)

In [ ]:
# Now check same with string.
# Making spelling mistake in Mercedes and then will try to change it
car = 'Merzedes'
print(car)

In [ ]:
# Lets try to change it
print(car[3])

In [ ]:
car[3] = 'c'

## 12. Mutability II

In [ ]:
# Lets see strings
name = 'Mercedes'
other_name = name
print("1 - ",name)
print("2 - ",other_name)
name = 'Benz'
print("3 - ",name)
print("4 - ",other_name)

# This is where mutability comes into picture
# other_name doesnt changes even after changing name.

In [3]:
# Lets see here with with LIST and its mutability
coding_lang = ['C++', 'Python', 'C', 'C#', 'Java']

In [4]:
more_coding_lang = coding_lang

In [5]:
coding_lang[0]  = "Go"
print(coding_lang[0])

Go

In [6]:
print(coding_lang)

['Go', 'Python', 'C', 'C#', 'Java']

In [7]:
print(more_coding_lang)

['Go', 'Python', 'C', 'C#', 'Java']

Note : **Be cautious while working with LIST, STRING or better to say Mutable and Immutable data types**

## 13. Common Function & Methods
Here we will se various function and Methods associated with Lists.

In [26]:
# len() returns no of elements in LIST
num = [4,6,2,8,1]
len(num)

5

In [12]:
max(num)

10

In [29]:
# How max() will work on list of string
name = ['alpha','zeta', 'gama','beta']
max(name)

'zeta'

In [36]:
# max() in string of list is based on alphabetical order
name_1 = ['alpha','beta', 'gama','zebra', 'zeta']
max(name_1)

'zeta'

In [24]:
min(name_1)

'alpha'

In [35]:
# max() in mixed list
name_2 = ['alpha','beta', 'gama','zebra', 'zeta', 1 ,2]
max(name_2)

TypeError: '>' not supported between instances of 'int' and 'str'

In [27]:
# Sorting the list - remember it gives copy of the list
sorted(num)

[1, 2, 4, 6, 8]

In [28]:
# See, there is no difference. Origional remain same!
print(num)

[4, 6, 2, 8, 1]

In [30]:
sorted(name)

['alpha', 'beta', 'gama', 'zeta']

**Lets see join( _ ) method**

In [31]:
# Lets see join(_) method
'-'.join(['Jan','Feb','March'])

'Jan-Feb-March'

In [32]:
'*'.join(['Jan','Feb','March'])

'Jan*Feb*March'

In [33]:
'-####-'.join(['Jan','Feb','March'])

'Jan-####-Feb-####-March'

In [37]:
'-####-'.join(name_1)

'alpha-####-beta-####-gama-####-zebra-####-zeta'

**Lets see format( _ ) method : Easily demonstrated with print()**

In [38]:
print("This person is {}, {}, and {}".format('tall','slim','fair'))

This person is tall, slim, and fit

**Lets see append()**

In [43]:
month = ['Jan','Feb','March']
month

['Jan', 'Feb', 'March']

In [44]:
month.append('April')
print(month)

['Jan', 'Feb', 'March', 'April']

## 14. Tuples
**Tuple- Immutable ordered sequence of elements**
Stores related information.

This is defined with small bracket

(related information)

In [ ]:
feature = ('tall','thin','fair')